@import 'nib'

body
  font-family Avenir, Helvetica, Arial, sans-serif
  width 100%
  font-size 16px

*
  box-sizing border-box

.search
  border-bottom: 1px solid #ccc

.inpUrl
  width 100%
  padding 20px
  border 0
  font-size 16px
  text-align center
  transition background .3s ease
  &:focus
    outline none
    background #eee
    text-align left
    &:valid
      background lighten(green,94%)
    &:invalid
      background lighten(red,94%)

.container
  width 100%
  max-width 768px
  margin 0 auto
  padding 20px 15px 45px 15px

.blk
  display inline-block
  width 100%
  line-height 24px
  background #ccc
  border-radius 5px
  padding 10px
  color #fff
  font-weight 500
  margin-bottom 8px

.has-more
  cursor pointer

.clearfix
  clear both

.more
  display none
  width 100%
  text-align center
  margin-top 15px
  font-size 12px
  > div
    > div
      line-height initial
    div + div
      color rgba(#000,.5)
  &.active
    display inline-block

@media screen and (min-width: 768px)
  .blk
    width 48%
    float left
    &:nth-child(odd)
      margin-right 4%

.icon
  height 24px
  width 24px
  float left
  vertical-align middle
  margin-right 10px
  path
    fill #fff

.name
  float left

.count
  float right

.count
.total-count
  opacity 0.25
  transition opacity 0.5s
  &.active
    opacity 1

.facebook
  background #39579a
.google
  background #DE4D3B
.twitter
  background #50ABF1
.reddit
  background #FF4300
.buffer
  background #323B43
.stumbleupon
  background #EE4813
.vkontakte
  background #44658F
.pinterest
  background #BF0012
.linkedin
  background #0076B7
.pocket
  background #F23D52
.xing
  background #005A60
.weibo
  background #E90E24
.delicious
  background #2A96FF

footer
  position fixed
  bottom 0
  width 100%
  padding 15px
  font-size 14px
  background rgba(#000,.94)
  color gray
  a
    color gray
    text-decoration none

[class*='col-xs-']
  float left

.col-xs-4
  width 33.33%
.col-xs-6
  width 50%

.float-rgt
  float right

.hide
  display none

input[type=checkbox]
  display none

.imprint
  transition top 1s ease
  position fixed
  overflow scroll
  width 100%
  height 100%
  background #000
  top 100%
  left 0
  color #FFF

#imprint:checked ~ .imprint
  top 0