@import 'nib'

body
  font-family Avenir, Helvetica, Arial, sans-serif
  width 100%
  font-size 16px

*
  box-sizing border-box

header
  border-bottom 1px solid #eee
  padding 15px
  
.search
  width 100%
  max-width 480px
  margin 0 auto
  position relative

.inpUrl
  width 100%
  padding 8px 12px
  border 0
  border-radius 5px
  font-size 16px
  text-align left
  background #F2F2F2
  transition background .3s ease
  &:focus
    outline none
    background darken(#F2F2F2,3%)

.lblSearch
  position absolute
  top 10px
  right 12px

.container
  width 100%
  max-width 768px
  margin 0 auto
  padding 15px 15px 45px 15px

.blk
  display inline-block
  width 100%
  line-height 24px
  background #ccc
  border-radius 5px
  padding 10px
  color #fff
  font-weight 500
  margin 0 auto 10px
  @media screen and (min-width: 768px)
    width 46%
    margin 0 2% 10px
    float left

.has-more
  cursor pointer

.clearfix
  clear both

.more
  display none
  width 100%
  text-align center
  margin-top 15px
  font-size 12px
  > div
    > div
      line-height initial
    div + div
      color rgba(#000,.5)
  &.active
    display inline-block

.icon
  height 24px
  width 24px
  float left
  vertical-align middle
  margin-right 10px
  path
    fill #fff

.name
  float left

.count
.total-count
  opacity 0.25
  transition opacity 0.5s
  &.active
    opacity 1

.facebook
  background #39579a
.googleplus
  background #DE4D3B
.twitter
  background #50ABF1
.reddit
  background #FF4300
.buffer
  background #323B43
.stumbleupon
  background #EE4813
.vk
  background #44658F
.pinterest
  background #BF0012
.linkedin
  background #0076B7
.pocket
  background #F23D52
.xing
  background #005A60
.weibo
  background #E90E24
.delicious
  background #2A96FF

footer
  position fixed
  bottom 0
  width 100%
  padding 15px
  font-size 14px
  background #f8f8f8
  color gray
  border-top 1px solid #eee
  .lbl-imprint
    font-size 14px
    color #ccc
    text-decoration none
    position fixed
    bottom 0
    right 15px
    padding 15px 0px
    cursor pointer

[class*='col-xs-']
  float left

.col-xs-4
  width 33.33%
.col-xs-6
  width 50%
  @media screen and (max-width: 480px)
    width 100%
    margin-bottom 15px

.float-rgt
  float right

.hide
  display none

.txt-cntr
  text-align center

#imprint:checked ~ .imprint
  transform translateY(0px)

.imprint
  position fixed
  overflow-Y scroll
  width 100%
  height 100%
  background white
  top 0
  left 0
  color gray
  transform translateY(100%)
  transition transform .3s ease
  line-height 1.3em
  font-size 12px
  a
    text-decoration none
    color #222
    &:hover
      color #FF2E63
  p
    text-align justify
    margin-bottom 20px

h2
h4
  margin-bottom 5px
  font-weight bold
  color #222
h2
  font-size 18px

.about
  display inline-block
  width 100%
  margin-bottom 15px

.close
  position absolute
  top 20px
  right 20px
  font-weight bold
  color #222
  font-size 16px
  cursor pointer
  &:hover
    color #FF2E63